body header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--gradient);
    background: linear-gradient(#FFFFFF22,#00000022,#00000022);
}
body header img {
    height: 8em;
    padding-left: 1.2rem;
}
body>header>a{
    margin:0;
    padding:0;
}

.navlink {
    color: var(--colorThree);
    text-decoration: none;
    padding:1rem;
    cursor:default;
    /* border: 2px solid black;
    width: 1em;
    height: 1em;
    font-size: 2em;
    background-color: var(--colorFour);
    padding: 0.5em;
    margin: 20em 0.5em 1em 0.5em;
    color: var(--colorFour);
    text-decoration: none;
    cursor:pointer; */

}
.navlink:hover {
    background-color:rgba(0, 0, 0, 0.1);
}
.ampoule:hover {
     
    background-color: #EDEDC1;
    border-radius: 5em;
}

.navbar {
    height: 2em;
    text-align: left;
    font-size: larger;
    margin: 0;
    font-weight: bold;
    display: flex;    
}
.navbar >li:last-child {
    width: 5rem;
}
nav ul li{
    margin: 1em 1em 1em 0;
    width: 20rem;
}
nav >ul:nth-last-child() {
   
}
nav ul li ul{
    display: none;
    background-color:rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin-top: .9rem;
   
}
nav ul li:hover ul{
    display: block;
   margin-left:-1rem;
}

nav> ul >li >ul> li{
  

  
    
}
nav ul li ul li:hover{
    
}
nav ul{
    list-style: none;
    padding-left:0;
    padding-bottom: 1rem;
}